<h1>Welcome to QRaiser</h1>

<h3>Sign UP</h3>
<%= form_for @user do |f| %>
  <p>
    <%= f.label :email %> <br>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :first_name %> <br>
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label :last_initial %> <br>
    <%= f.text_field :last_initial %>
  </p>

  <p>
    <%= f.label :password %> <br>
    <%= f.text_field :password %>
  </p>

  <%= radio_button_tag(:type , "Student") %>
  <%= label_tag(:type_student, "I am a student.") %>
  <%= radio_button_tag(:type , "Teacher") %>
  <%= label_tag(:type_teacher, "I am a teacher.") %>

  <%= f.submit %>
<% end %>

<h3>Log IN</h3>

<%= form_for :user do |f| %>
  <p>
    <%= f.label :email %> <br>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :password %> <br>
    <%= f.text_field :password %>
  </p>

  <%= f.submit %>
<% end %>
